nav.nav-note-toolbar.navbar-expand-lg.navbar.navbar-dark
    .navbar-collapse.collapse(style="display: none;")
        ul.nav.navbar-nav
            li.nav-item
                a.nav-link(href="#", target="_self", aria-disabled="false") @todo header bar
                a.nav-link#menu-toggle TOGGLE
        ul.ml-auto.nav.navbar-nav
            li#__BVID__53_.nav-item.b-nav-dropdown.dropdown
                a#__BVID__53___BV_button_.nav-link.dropdown-toggle(href="#", aria-haspopup="true", aria-expanded="false")
                    i.fa.fa-menu
                .dropdown-menu.dropdown-menu-right(role="menu", aria-labelledby="__BVID__53___BV_button_")
                    a.dropdown-item(role="menuitem", href="#", target="_self", aria-disabled="false") More Test
                    a.dropdown-item(role="menuitem", href="#", target="_self", aria-disabled="false") OMG Debug
                    .dropdown-divider
                    a.dropdown-item(role="menuitem", href="#", target="_self", aria-disabled="false") Kah Kah Kah
